# Workflow
name: Build Pull Request

on:
  workflow_dispatch:
    inputs:
      PR:
        description: PR Number
        required: true
  pull_request_target:
    branches: [ master, Development ]

jobs:
  build:
    name: Build on ubuntu-latest
    runs-on: ubuntu-latest
    steps:
    # Check Repository
    - name: Checkout Repository
      uses: actions/checkout@v2
      
    # Get Timestamp
    - name: Get Timestamp
      id: get-timestamp
      uses: nanzm/get-time-action@v1.1
      with:
        timeZone: 0
        format: 'DD.MM.YY-HHmm'

    # Setup .NET
    - name: Setup Dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x    

    # Build Mod
    - name: Build Mod
      run: |
        dotnet restore Source/
        dotnet build Source/ --configuration Debug --no-restore
        
    # Pack Build
    - name: Package Build
      run: |
        mkdir CombatOverhaul
        cp -r About/ Assemblies/ Defs/ Languages/ Patches/ Royalty/ Ideology/ Sounds/ Source/ Textures/ LoadFolders.xml README.md SupportedThirdPartyMods.md CombatOverhaul
        zip -9 -r CombatOverhaul.zip CombatOverhaul
        
    # Upload to Dropbox
    - uses: deka0106/upload-to-dropbox@v2
      with:
        dropbox_access_token: ${{ secrets.DROPBOX_TOKEN }}
        src: CombatOverhaul.zip
        dest: '/Pull Requests/#${{ github.event.pull_request.number }}${{ github.event.inputs.PR }} ${{ github.event.pull_request.title }}/CombatOverhaul-${{ steps.get-timestamp.outputs.time }}.zip'
          
    # Create Comment
    - name: Create comment
      uses: peter-evans/create-or-update-comment@v1
      with:
        issue-number: ${{ github.event.pull_request.number }}${{ github.event.inputs.PR }}
        body: |
          To download the built mod for this PR, visit this link and select the folder matching the ID for this pull request.
          https://www.dropbox.com/sh/g4sw8yv65vidcs2/AACxj_4SYngi-VQ36bN79Hiya
    
    # Add Label
    - name: Add Label
      uses: actions-ecosystem/action-add-labels@v1
      with:
        github_token: ${{ secrets.github_token }}
        labels: "Download in Comments"
        number: ${{ github.event.pull_request.number }}${{ github.event.inputs.PR }}
